
@{
    ViewBag.Title = "AllTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllTasks</h2>

@{
    ToDoList1Entities db = new ToDoList1Entities();

    var allTasks = from m in db.Tasks
                   where m.DueDate != null
                   select new
                   {
                       Taskname = m.TaskName,

                       TaskDescription = m.Description,

                       TaskDate = m.DueDate,

                       TaskCompDate = m.CompletionDate
                   };

}
<table style="border: 2px solid Black">
    <tr>
        <th style="border: 2px solid Black">Task Name</th>
        <th style="border: 2px solid Black">Description</th>
        <th style="border: 2px solid Black">Task Due Date</th>
        <th style="border: 2px solid Black">Task Completion Date</th>
    </tr>

    @foreach (var Task in allTasks)
    {
        <tr style="border: 2px solid Blue">
            <td style="border: 2px solid Black">@Task.Taskname.</td>
            <td style="border: 2px solid Black">@Task.TaskDescription)</td>
            <td style="border: 2px solid Black">@string.Format("{0:M/d/yyyy}", Task.TaskDate)</td>
            <td style="border: 2px solid Black">@string.Format("{0:M/d/yyyy}", Task.TaskCompDate)</td>
        </tr>

    }
</table>