
@{
    ViewBag.Title = "ViewAllTasksToday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewAllTasksToday</h2>
@{ 
ToDoList1Entities db = new ToDoList1Entities();

    var tasks = from m in db.Tasks
                where m.DueDate == DateTime.Today
                select new
                {
                    taskname = m.TaskName,
                    taskdescription = m.Description,
                    taskduedate = m.DueDate,
                    taskcompletion = m.CompletionDate
                };
}

<table style="border: 2px solid black">
    <tr>
        <th style="border: 2px solid black">task name</th>
        <th style="border: 2px solid black">description</th>
        <th style="border: 2px solid black">Due Date</th>
        <th style="border: 2px solid black">task completion date</th>
    </tr>

    @foreach (var task in tasks)
    {
        <tr style="border: 2px solid blue">
            <td style="border: 2px solid black">@task.taskname</td>
            <td style="border: 2px solid black">@task.taskdescription)</td>
            <td style="border: 2px solid Black">@string.Format("{0:M/d/yyyy}", task.taskduedate)</td>
            <td style="border: 2px solid black">@string.Format("{0:m/d/yyyy}", task.taskcompletion)</td>
        </tr>

    }
</table>
