
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>
@{  
var Yes = DateTime.Today.AddDays(1);
    ToDoList1Entities db = new ToDoList1Entities();

    var Yup = from n in db.Tasks
              where n.DueDate == Yes
              select new
              {
                  TaskName = n.TaskName,
                  TaskDescription = n.Description,
                  TaskDueDate = n.DueDate,
                  TaskCompDate = n.CompletionDate
              };
}
<table>
    <tr>
        <th style="border: 2px solid Black">Task Name</th>
        <th style="border: 2px solid Black">Description</th>
        <th style="border: 2px solid Black">Task Due Date</th>
        <th style="border: 2px solid Black">Task Completion Date</th>
    </tr>
    @foreach (var Task in Yup)
    {
        <tr style="border: 2px solid Blue">
            <td style="border: 2px solid Black">@Task.TaskName</td>
            <td style="border: 2px solid Black">@Task.TaskDescription)</td>
            <td style="border: 2px solid Black">@string.Format("{0:M/d/yyyy}", Task.TaskDueDate)</td>
            <td style="border: 2px solid Black">@string.Format("{0:M/d/yyyy}", Task.TaskCompDate)</td>
        </tr>

    }
</table>

