@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Task App</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create A task</h2>
        <p>
            <li>@Html.ActionLink("Create a new task", "Create", "Tasks")</li>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>View all tasks</h2>
        <p><li>@Html.ActionLink("View all", "Details", "Tasks")</li></p>
        <p></p>
    </div>
</div>